.button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-width: 4px;
  transition: all 0.1s;
  transform: translateZ(0);
  user-select: none;
  cursor: pointer;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translate(1px, 1px);
}

.primary {
  background-color: rgb(96 165 250);
  border-color: rgb(37 99 235);
  color: black;
}

.primary:hover {
  background-color: rgb(147 197 253);
}

.secondary {
  background-color: rgb(209 213 219);
  border-color: rgb(107 114 128);
  color: black;
}

.secondary:hover {
  background-color: rgb(229 231 235);
} 